
.jumbotron {
    font-family: 'Berkshire Swash', cursive;
    background: rgb(221, 188, 221);

}

body {
    background: url('../images/green_dust.png');
    font-family: 'Oswald', sans-serif;
}


.container {
    width: 960px;
}